img{
    max-width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    padding: 0 130px;
}

.header {
    width: 100%;
    background-color: #74C69D;
}

.header-main {
    position: relative;
    padding: 35px 0 50px 0;
    display: flex;
}


.menu {
    display: flex;
    width: 100%;
    justify-content: end;
}

.menu-item {
    padding-left: 30px;
}

.menu-links {
    color: #fff;
}

.header-bot {
    padding-bottom: 82px;
    display: flex;
    flex-direction: row-reverse;
}
.header-banner{
    width: 55%;
}
.header-text{
    margin-right: 120px;
    width: 45%;
}
.btn--primary {
        font-family: 'Work Sans', sans-serif;
        text-align: center;
        line-height: 25px;
        font-weight: 400;
        background-color: #fff;
        border-radius: 5px;
        display: inline-block;
        padding: 13px 48px 10px 48px;
        color: #000000;
        font-size: 20px
}
.header-welcome{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 0;
    letter-spacing: 5px;
}
.header__title{
    font-family: 'Crimson Text', serif;
    font-weight: 700;
   font-size:40px ; 
   line-height: 50px;
   color: #fff;
    margin: 15px 0;

}
.header__text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
    margin: 0 0 25px;
}
/* .main{
    display: grid;
} */
.main-top-partners{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:  #74C69D;
    padding-top: 60px;
    letter-spacing: 5px;
    margin: 0;
    text-transform: uppercase;
}
.main-top{
    text-align: center;
}
.main-top-title{
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color:  #000000;
    margin: 15px 0;
}

.main-top-text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color:  #000000;
    display: inline-block;
    margin: 0;
    width: 411px;
}
.main-trademark{
    display: flex;
    justify-content: space-between;
    margin: 55px 0;
}
.btn--mess , .btn--email{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    background-color: #212529;
    border-radius: 5px;
    display: inline-block;
    padding: 13px 48px 10px 48px;
    color: 
    #FFFFFF;
    font-size: 20px
}
.main-buttom{
    text-align: center;
}
.main-mess img{
    width: 60%;
}
.main-mess{
    display: flex;
    margin: 70px 0;
}
.main-mess-text{
    margin: 80px 0 16px 130px;
}
.main-mess-title{
    font-family: 'Crimson Text', serif;
    font-weight: 700;
   font-size:40px ; 
   line-height: 50px;
   color: 
   #212529;
   margin: 0;
}
.main-mess-text{
  
    margin: 70px 0 28px 104px;
}
.main-mess_text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: 
   #212529;
   margin: 16px 0;
}
.main-email-title{
    font-family: 'Crimson Text', serif;
    font-weight: 700;
   font-size:40px ; 
   line-height: 50px;
   color: 
   #212529;
   margin: 0;
}

.main-email_text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: 
   #212529;
   margin: 16px 0;
 }
.main-email-text{
    padding-right: 103px;
}
.main-email{
    display: flex;
    flex-direction: row-reverse;
}
.main-email img{
    width: 60%;
}
.main-Talents{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 45px 0;
}

.main-Talents img{
    margin-bottom: 30px;
    padding: 20px 0px 20px 18px;
    background: #FFFFFF;
    box-shadow: 3px 4px 12px 1px rgb(0 0 0 / 25%);
    border-radius: 5px;
    width: 252px;
    height: 299px;

}
.head-main-menu{
    display: none;
    right: 0;
    top: 46px;   
     position: absolute;
}
.main-bootom{
    text-align: center;
    padding-bottom: 64px;
}
#bottom{
    background-color: 
    #74C69D;
}
.bottom-flex {
    display: flex;
    justify-content: space-between;
}
.bootom-text{
    padding: 50px 0;

}
.bootom-text p{
    color: #fff;
}
.bottom-img img{
    height: auto;
}
.bottom-img{
    padding: 50px 0;
    line-height: 48px;
}
/* media */

@media (max-width:1200px) {
    .main-trademark{
        display: block;
        margin: 55px 0;
        text-align: center;
    }
    .main-trademark img {
       
        padding-bottom: 34px;
    }
    .main-email-text {
        padding-right: 30px;
    }
}
@media(min-width: 993px) and (max-width:1200px){
    .header-text{
        margin-right: 40px
    }
    .main-mess-text{
        margin: 70px 0 28px 60px;
    }
    .main-mess-title{
        font-size: 30px;
        line-height: 40px;
    }
    .main-email-title{
        font-size: 30px;
    line-height: 40px;
    }
    .main-mess-title {
        font-size: 30px;
        line-height: 40px;
    }

}
@media (max-width: 992px) {
    .header-bot{
        display: block;
    }
    .header-banner{
        width: 100%;
    }
    .header-text{
        margin-right: 120px;
        width: 100%;
    }
    .container {
        padding: 0 80px;
    }
    .menu{
        display: none;
    }
    .main-top-partners{
        padding-top: 40px;
    }
    .head-main-menu{
        display: block;
    }
    .main-top-title{
        font-size: 30px;
        line-height: 40px;
    }
    .main-top-text{
        width: auto;
    }
    .main-mess{
        display: block;
      
    }
    .main-mess-text{
        margin: 0;
        padding:20px 0 ;
    }
    .main-mess img{
      width: 100%;
    }
    .main-email img{
        width:100%;
    }
    .main-email{
        display: block;
       
    }
    .main-email-text{
        padding: 30px 0;
    }
    .main-Talents{
        text-align: center;
        display: block;
    }
   
}   
 @media (max-width:768px){
    .header__title{
        font-size: 28px;
        line-height: 35px;
    }
    .container {
        padding: 0 20px;
    }
    .main-top-partners{
        padding-top: 20px;
    }
    .main-top-title{
        font-size: 24px;
        line-height: 30px;
    }
    .main-mess-title{
        font-size: 20px;
        line-height: 30px;
    }
    .main-mess-title {
        font-size: 24px;
        line-height: 30px;
    }
    .main-email-title{
        font-size: 24px;
        line-height: 30px;
    }
    .bottom-flex{
        display: block;
        text-align: center;
    }
    .bottom-img{
        line-height: normal;
        padding: 30px 0 0 0;
    }
    .bootom-text {
        padding: 20px 0 30px 0;
    }
 }

 